* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('../images/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.content {
    color: rgb(7, 0, 0);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(3, 2, 2, 0.062);
    font-size: 30px;

}